In [4]:
import pandas as pd

In [5]:
from sqlalchemy import create_engine
import psycopg2

In [6]:
engine = create_engine('mysql://pythonuser:pythonuser@localhost:3306/RubyDB')

In [7]:
sqlquery = '''SELECT id, name FROM RubyDB.experiments;'''

In [8]:
experiments_df = pd.read_sql_query(sqlquery, engine)

In [9]:
experiments_df

    id              name
0    1      CDMS I (SUF)
1    2  CDMS II (Soudan)
2    3         SuperCDMS
3    4               LUX
4    5           XENON10
..  ..               ...
56  60            GAMBIT
57  63           CDEX-10
58  64            NEWS-G
59  65           XENONnT
60  66            CRESST

[61 rows x 2 columns]